#main_body{
    padding-top: 100px !important;
    background: #E9F0F5;
}
#brandImg{
	height: 50px;
	width: auto;
}
.navbar-brand{
    padding: 14px 25px;
}

.custom_nav{
	margin: 25px 0px;
	width: 100px;
}

.select2-container{
	width: 150px !important;
}
.select2-container--default .select2-selection--single {
	background: transparent !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	color: #aaa !important;
}

.rubix-panel-header{
	h1, .h1, h2, .h2, h3, .h3{
		margin: 15px 0px;
	}
}

